.pull-right {
    margin-right: 2%;
}

.modal-dialog, .modal-content{
	z-index:1051;
}

.btn-info {
    margin: 2% 0;
}

ul.prod-images {
    margin: 2% 0;
}

li.image{
    display: inline;
    list-style-type: none;
    margin: 1% 2%;
}

.prod-images img{
    width: 25px;
}